.git
.github
node_modules
vendor
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!.env.example
.phpunit.result.cache
Dockerfile
docker-compose.yml
